* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: rgb(202,4,236);
    background: linear-gradient(133deg, rgba(202,4,236,1) 0%, rgba(54,9,121,1) 52%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.content {
    
}